<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS Basics Concepts</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./app.css" />
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBarStyle"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBarStyle"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h3 v-if="winner === 'monster'">You lost!</h3>
        <h3 v-else-if="winner === 'player'">You won!</h3>
        <h3 v-else>It's a draw!</h3>
        <button @click="newGame">New Game!</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="canUseSpecialAttack" @click="specialAttack">
          SPECIAL ATTACK
        </button>
        <button :disabled="!canHeal" @click="heal">HEAL</button>
        <button @click="serrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <span
              :class="{'log--player': logMessage.who === 'Player', 'log--monster': logMessage.who === 'Monster'}"
              >{{ logMessage.who === 'Player' ? 'Player' : 'Monster'
              }}</span
            >
            <span v-if="logMessage.what === 'heal'">
              heals himself for
              <span class="log--heal">{{ logMessage.value }}</span></span
            >
            <span v-else>
              attacks and deals
              <span class="log--damage">{{ logMessage.value }}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
    <!-- import vue via CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
